<%= form_for @classroom, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>

  

    <h3>Assignments</h3>
    <div class="items">
      <%= f.nested_fields_for :assignments do |f| %>
        
        <fieldset class="item">

          <div class="well">
          
            <div class="control-group">
              <%= f.label :subject_id, :class => 'control-label' %>
              <div class="controls">
                <%= f.collection_select :subject_id, Subject.all, :id, :name, :prompt => "Select" %>
              </div><!-- controls -->
            </div><!--control group-->

            <div class="control-group">
              <%= f.label :teacher_id, :class => 'control-label' %>
              <div class="controls">
                <%= f.collection_select :teacher_id, Teacher.all, :id, :name, :prompt => "Select" %>
              </div><!-- controls -->
            </div><!--control group-->

            <div class="form-actions">
              <a href="#" class="remove">
                <button class="btn btn-danger">Remove</button>
              </a>  
            </div><!--form-actions-->

          </div>  

          <hr />
          <%= f.hidden_field :id %>
          <%= f.hidden_field :_destroy %>
        </fieldset>
      <% end %>
    </div><!--items-->


  <div class="form-actions">
    <a href="#" class="add assignment">
      <button class="btn">add assignment</button>
    </a>
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                classrooms_path, :class => 'btn' %>
  </div>
<% end %>
