<%= form_for(@classroom) do |f| %>
  <% if @classroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>

      <ul>
      <% @classroom.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>



  <h2>Assignments</h2>
  <div class="items">
    <%= f.nested_fields_for :assignments do |f| %>
      <fieldset class="item">
        
        <%= f.label :subject_id %>
        <%#= f.text_field :subject_id %>
        <%= f.collection_select :subject_id, Subject.all, :id, :name %>

        <%= f.label :teacher_id %>
        <%#= f.text_field :teacher_id %>
        <%= f.collection_select :teacher_id, Teacher.all, :id, :name %>

        <a href="#" class="remove">remove</a>

        <%= f.hidden_field :id %>
        <%= f.hidden_field :_destroy %>
      </fieldset>
    <% end %>
  </div>
  <a href="#" class="add">add assignment</a>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
